<div [hidden]="record$ | async">
  <div class="flex w-full items-center">
    <catalog-site-title class="w-1/4 pl-4"></catalog-site-title>
    <div class="w-3/4 px-4">
      <search-fuzzy-search class="mr-2 w-1/2"></search-fuzzy-search>
      <search-sort-by></search-sort-by>
      <search-results-layout></search-results-layout>
    </div>
  </div>
  <div class="flex w-full">
    <search-facets-container class="w-1/4 h-full"></search-facets-container>
    <div class="w-3/4">
      <search-results-hits></search-results-hits>
      <search-results-list-container></search-results-list-container>
    </div>
  </div>
</div>

<data-record-view *ngIf="record$ | async" class="flex w-full">
</data-record-view>
