<div>
  <catalog-site-title></catalog-site-title>
  <search-records-metrics field="tag" count="20"></search-records-metrics>
  <div class="mb-3 mx-4 p-2 bg-gray-100 rounded w-1/2 object-center">
    <search-fuzzy-search class="mr-2"></search-fuzzy-search>
    <search-sort-by></search-sort-by>
    <search-results-layout></search-results-layout>
  </div>
  <div class="flex flex-row">
    <div>
      <search-facets-container></search-facets-container>
    </div>
    <div>
      <search-results-list-container></search-results-list-container>
    </div>
  </div>
</div>
